@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  display: flex;
  justify-content: center;
}
@media (prefers-color-scheme: dark){
  :root {
    --foreground-rgb: 255,255,255;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #1a1a1a; /* Or use initial gradient background here if desired */
  color: white;
  display: flex;
  min-height: 100vh; /* Ensure full height for scrolling */
  overflow-y: auto; /* Ensure scrollability */
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex: 1;
}

h1, h2, h3 {
  font-weight: bold;
}

/* .gold {
  color: var(--yellow-5);
  shadow: var(--yellow-8);
  glare: hsl(0 0% 100% /0.75);
  transition: 0.2s;
} */

main {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin-top: 200px;
}

canvas {
  z-index: 0;
}

section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.header {
  position: relative;
  font-size: 50px;
  font-weight: 700px;
  font-family: montserrat, sans-serif;
  margin-top: 5rem;
  margin-bottom: 4rem;
  z-index: 9999;
}

.header:before {
  content: '';
  border-bottom: 18px solid #ff69b4;
  width: 10rem;
  display: block;
  margin: 0 auto; 
  position: relative;
  left: 2.5rem;
  top: 3.7rem;
  z-index: -1;
}

.intro {
  text-align: center;
  padding-top: 150px;
}

.intro h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.intro h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.intro p {
  font-size: 1.2rem;
}

.glow-text {
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #FFD700;
    color: #FFD700;
  }
  50% {
    text-shadow: 0 0 5px #FFD700;
    color: #FFD700;
  }
  100% {
    text-shadow: 0 0 5px #FFFF00;
    color: #FFD700;
  }
}

.sparkly-text {
  font-size: 3rem; /* Adjust size as needed */
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
  background-size: 400%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  animation: sparkle 5s linear infinite;
}

.sparkly-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 10%, transparent 10%); */
  background-size: 5px 5px;
  opacity: 0.5;
  /* animation: shimmer 2s linear infinite; */
  -webkit-mask: -webkit-linear-gradient(#000 30%, transparent 100%);
  mask: linear-gradient(#000 30%, transparent 100%);
}

@keyframes sparkle {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}






