.projects {
    text-align: center;
    padding: 50px 0;
  }
  
  .project-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .project-card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
  }
  
  .project-card h3{
    font-size: 1rem;
  }
  
  .project-card p {
    font-size: 1rem;
  }
  
  .project-card a {
    color: #e27bfe;
    text-decoration: none;
    font-weight: bold;
  }

  .resumePage {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a1a; 
    padding: 2rem; */
    margin: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    margin-bottom: 50px;
    width: 100%;
  }
  
  .resumeCard {
    background: linear-gradient(90deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1); /* Card background color */
    padding: 20px;
    height: 40rem;
    width: 90rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    max-width: 800px;
    text-align: center;
    width: 90%;
    transition: transform 0.3s, box-shadow 0.3s;
  
    /* border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    overflow: hidden;
    
    text-align: center; */
  }
  
  .resumeCard:hover {
    transform: scale(1.05); /* Subtle zoom effect */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  }
  
  .resumeImage {
    /* width: 100%; */
    height: auto;
    object-fit: cover;
  }
  
  .downloadButton {
    display: inline-block;
    margin: 1.5rem 0;
    padding: 0.75rem 2rem;
    color: #fff;
    background-color: #ff4d4d; /* Accent button color */
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .resume-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .resume-button:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ff69b4;
    bottom: 1px;
    left: 0;
    transform-origin: bottom;
    transition: all 0.3s ease;
    z-index: -1;
  }
  
  .resume-button:hover {
    color: #ff69b4;
  }
  
  .resume-button:hover:after {
    height: 100%;
    background: #ff69b4;
    opacity: 0.1;
  }
  