/* Add this to your global.css or a footer-specific CSS file */
.footer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 2rem 0; */
    background-color: #282828;
    color: white;
    font-size: 14px;
    width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  }
  
  .footer-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  .footer-icons a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
  }
  
  .footer-icons a:hover {
    color: #ff69b4;
  }
  
  .footer-copyright {
    margin-top: 1rem;
  }
  
  .footer-up-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff69b4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -18px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .footer-up-arrow:hover {
    transform: translateY(-5px);
  }

