/* styles/globals.css */
#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .content {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }
  
  body {
    margin: 0;
    /* overflow: hidden; */
    font-family: Arial, sans-serif;
  }
  